@tailwind base;
@tailwind components;
@tailwind utilities;

/* small safe defaults */
html, body, #root { height: 100%; }
body {
  @apply bg-slate-50 text-slate-800 antialiased;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
